/* =============================================

モバイル縦

============================================= */

/*————————————————————————————————————————————

共通パーツ

——————————————————————————————————————————————*/
body {
  font-family: "Roboto Mono", "Noto Sans JP", monospace, sans-serif;
  color: $cGray;
  letter-spacing: 0.05em;
  line-height: 1.5;
  h2 {
    line-height: 3;
  }
}

/*
font
——————————————————————*/
.font-sm {
  font-size: 14px !important;
}
.font-md {
  font-size: 15px !important;
}
.font-lr {
  font-size: 20px !important;
}
.font-lg {
  font-size: 26px !important;
}
.font-bg {
  font-size: 30px !important;
}
.cursive-style {
  font-family: "Cookie", cursive;
  line-height: 1;
}

/*
padding
——————————————————————*/
.pt-sm {
  padding-top: 32px !important;
}
.pt-md {
  padding-top: 64px !important;
}
.pb-sm {
  padding-bottom: 32px !important;
}
.pb-md {
  padding-bottom: 64px !important;
}

/*
margin
——————————————————————*/
.mt-sm {
  margin-top: 32px !important;
}
.mb-sm {
  margin-bottom: 32px !important;
}
.mb-md {
  margin-bottom: 64px !important;
}

/*
wrapper, container
——————————————————————*/
.wrapper {
  width: 100%;
  height: 100vh;
}

.content-width {
  width: 90%;
  margin: 0 auto;
}

/*————————————————————————————————————————————

cover

——————————————————————————————————————————————*/
.cover {
  @extend .wrapper;
  position: relative;
  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../image/top.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
  }
  &__container {
    @extend .content-width;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    font-size: 90px;
    text-align: center;
    line-height: 1;
  }
  &__sub-title {
    @extend .font-sm;
    height: 45vh;
    font-weight: 500;
  }
  &__cursive-style {
    @extend .cursive-style;
    line-height: 1.2;
    font-size: 82px;
  }
}

/*————————————————————————————————————————————

about

——————————————————————————————————————————————*/

.about {
  @extend .wrapper;
  @extend .pt-md;
  @extend .pb-sm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  &__title {
    h2 {
      @extend .font-bg;
      display: inline-block;
      padding: 0 40px;
      color: $cBeige;
      background: $cPink;
    }
  }
  &__text-container {
    @extend .content-width;
  }
  &__text {
    @extend .font-md;
    line-height: 2;
    width: 80%;
    p {
      margin: 0;
      background: rgba(255, 255, 255, 0.5);
    }
  }
  img {
    position: absolute;
    width: 80%;
    top: 32px;
    right: 0;
    z-index: -1;
  }
}

/*————————————————————————————————————————————

skill

——————————————————————————————————————————————*/
.skill {
  @extend .wrapper;
  border: 16px solid $cBeige;
  display: flex;
  flex-direction: column;
  h2 {
    @extend .font-lg;
    color: $cPink;
    text-align: center;
  }
  &__items {
    @extend .content-width;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .sub-title {
      @extend .cursive-style;
      font-size: 34px;
      position: absolute;
      color: $cBeige;
    }
  }
  &__programming {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    .skill__item {
      @extend .mb-sm;
    }
    .sub-title {
      top: 0;
      left: 0;
      transform: translateY(-120%) rotate(-10deg);
    }
  }
  &__web-design {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    @extend .mt-sm;
    .sub-title {
      top: 0;
      left: 0;
      transform: translateY(-120%) rotate(-10deg);
    }
    div:last-child {
      margin-left: 16px;
    }
  }
  &__item {
    width: calc((100% - 32px) / 3);
    img {
      display: block;
      @extend .content-width;
    }
    p {
      @extend .font-sm;
      padding-top: 8px;
      margin: 0;
      text-align: center;
      font-weight: 500;
    }
  }
}

/*————————————————————————————————————————————

works

——————————————————————————————————————————————*/
.works {
  &__title {
    @extend .font-lg;
    text-align: center;
    @extend .mt-sm;
    @extend .mb-sm;
  }
  &__items {
    @extend .content-width;
  }
  &__item {
    @extend .mb-md;
    &__img {
      @extend .mb-sm;
      width: 100%;
      padding-top: 125%;
      background-size: cover;
      background-position: center center;
      position: relative;
      p {
        @extend .cursive-style;
        color: $cPink;
        font-size: 50px;
        position: absolute;
      }
    }
    &__title {
      @extend .font-lr;
    }
    &__text {
      @extend .font-md;
      line-height: 2;
    }
  }
  #todo {
    .works__item__img {
      background-image: url(../../image/app.png);
      p {
        top: 0;
        left: 0;
        transform: translateY(-70%);
      }
    }
  }
  #blog {
    .works__item__img {
      background-image: url(../../image/blog.jpg);
      background-position: top center;
      p {
        top: 0;
        right: 0;
        transform: translateY(-70%);
      }
    }
  }
  #website {
    .works__item__img {
      background-image: url(../../image/csite.jpg);
      p {
        top: 0;
        left: 0;
        transform: translateY(-70%);
      }
    }
  }
  #portfolio {
    .works__item__img {
      background-image: url(../../image/portfolio.jpg);
      background-position: top center;
      p {
        top: 0;
        right: 0;
        transform: translateY(-70%);
      }
    }
  }
}

/*————————————————————————————————————————————

footer

——————————————————————————————————————————————*/
footer {
  background: $cPink;
  @extend .pb-md;
  h2 {
    text-align: center;
    color: $cWhite;
    @extend .mb-sm;
    @extend .font-lg;
  }
  .sns-icons {
    display: flex;
    justify-content: center;
    .icon {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 24px;
      a {
        display: block;
      }
      &#github {
        background-color: transparent;
      }
      &#twitter {
        svg {
          fill: #00acee;
        }
      }
      &#twitter,
      &#wantedly {
        background-color: $cWhite;
        padding: 8px;
      }
    }
    :last-child {
      margin-right: 0;
    }
  }
}
