/* =============================================

PC

============================================= */

/*————————————————————————————————————————————

共通パーツ

——————————————————————————————————————————————*/

/*
padding
——————————————————————*/
.pt-sm {
  padding-top: 60px !important;
}
.pt-md {
  padding-top: 120px !important;
}
.pb-sm {
  padding-bottom: 60px !important;
}
.pb-md {
  padding-bottom: 120px !important;
}

/*
margin
——————————————————————*/
.mt-sm {
  margin-top: 60px !important;
}
.mb-sm {
  margin-bottom: 60px !important;
}
.mb-md {
  margin-bottom: 120px !important;
}

/*————————————————————————————————————————————

cover

——————————————————————————————————————————————*/
.cover {
  &__title {
    font-size: 150px;
  }
}

/*————————————————————————————————————————————

skill

——————————————————————————————————————————————*/
.skill {
  border: 32px solid $cBeige;
  &__items {
    width: 55%;
    .sub-title {
      font-size: 60px;
    }
  }
}

/*————————————————————————————————————————————

works

——————————————————————————————————————————————*/
.works {
  &__item {
    width: calc((100% - 120px) / 4);
  }
}
