/* =============================================

モバイル横

============================================= */

/*————————————————————————————————————————————

共通パーツ

——————————————————————————————————————————————*/
.pt-md {
  padding-top: 32px !important;
}
.pb-md {
  padding-top: 32px !important;
}

/*————————————————————————————————————————————

cover

——————————————————————————————————————————————*/
.cover {
  ::before {
    top: 0;
    left: auto;
    right: 0;
    width: 50%;
    height: 100%;
  }
}

/*————————————————————————————————————————————

about

——————————————————————————————————————————————*/
.about {
  height: auto;
  &__text {
    width: 100%;
  }
  img {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

/*————————————————————————————————————————————

skill

——————————————————————————————————————————————*/
.skill {
  height: auto;
  &__item {
    width: calc((100% - 32px) / 6);
  }
  &__web-design {
    .sub-title {
      transform: translateY(-120%) translateX(100%) rotate(-10deg);
    }
  }
}

/*————————————————————————————————————————————

works

——————————————————————————————————————————————*/
.works {
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: calc((100% - 32px) / 2);
  }
}
