/* =============================================

タブレット縦

============================================= */

/*————————————————————————————————————————————

共通パーツ

——————————————————————————————————————————————*/

/*
font
——————————————————————*/
.font-sm {
  font-size: 16px !important;
}
.font-md {
  font-size: 16px !important;
}
.font-lg {
  font-size: 35px !important;
}
.font-bg {
  font-size: 63px !important;
}

/*————————————————————————————————————————————

cover

——————————————————————————————————————————————*/
.cover {
  &__title {
    font-size: 230px;
  }
  &__cursive-style {
    font-size: 132px;
  }
}

/*————————————————————————————————————————————

about

——————————————————————————————————————————————*/
.about {
  &__text {
    width: 30%;
  }
}

/*————————————————————————————————————————————

skill

——————————————————————————————————————————————*/
.skill {
  border: 32px solid $cBeige;
  &__items {
    width: 75%;
    .sub-title {
      font-size: 60px;
    }
  }
}

/*————————————————————————————————————————————

works

——————————————————————————————————————————————*/
.works {
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: calc((100% - 40px) / 2);
  }
}
