@charset "UTF-8";
/* =============================================

モバイル縦

============================================= */
/*————————————————————————————————————————————

共通パーツ

——————————————————————————————————————————————*/
body {
  font-family: "Roboto Mono", "Noto Sans JP", monospace, sans-serif;
  color: #727a84;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

body h2 {
  line-height: 3;
}

/*
font
——————————————————————*/
.font-sm, .cover__sub-title, .skill__item p {
  font-size: 14px !important;
}

.font-md, .about__text, .works__item__text {
  font-size: 15px !important;
}

.font-lr, .works__item__title {
  font-size: 20px !important;
}

.font-lg, .skill h2, .works__title, footer h2 {
  font-size: 26px !important;
}

.font-bg, .about__title h2 {
  font-size: 30px !important;
}

.cursive-style, .cover__cursive-style, .skill__items .sub-title, .works__item__img p {
  font-family: "Cookie", cursive;
  line-height: 1;
}

/*
padding
——————————————————————*/
.pt-sm {
  padding-top: 32px !important;
}

.pt-md, .about {
  padding-top: 64px !important;
}

.pb-sm, .about {
  padding-bottom: 32px !important;
}

.pb-md, footer {
  padding-bottom: 64px !important;
}

/*
margin
——————————————————————*/
.mt-sm, .skill__web-design, .works__title {
  margin-top: 32px !important;
}

.mb-sm, .skill__programming .skill__item, .works__title, .works__item__img, footer h2 {
  margin-bottom: 32px !important;
}

.mb-md, .works__item {
  margin-bottom: 64px !important;
}

/*
wrapper, container
——————————————————————*/
.wrapper, .cover, .about, .skill {
  width: 100%;
  height: 100vh;
}

.content-width, .cover__container, .about__text-container, .skill__items, .skill__item img, .works__items {
  width: 90%;
  margin: 0 auto;
}

/*————————————————————————————————————————————

cover

——————————————————————————————————————————————*/
.cover {
  position: relative;
}

.cover ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../image/top.jpg) no-repeat;
  background-size: cover;
  z-index: -1;
}

.cover__container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cover__title {
  font-size: 90px;
  text-align: center;
  line-height: 1;
}

.cover__sub-title {
  height: 45vh;
  font-weight: 500;
}

.cover__cursive-style {
  line-height: 1.2;
  font-size: 82px;
}

/*————————————————————————————————————————————

about

——————————————————————————————————————————————*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.about__title h2 {
  display: inline-block;
  padding: 0 40px;
  color: #f6e9ce;
  background: #f3ac94;
}

.about__text {
  line-height: 2;
  width: 80%;
}

.about__text p {
  margin: 0;
  background: rgba(255, 255, 255, 0.5);
}

.about img {
  position: absolute;
  width: 80%;
  top: 32px;
  right: 0;
  z-index: -1;
}

/*————————————————————————————————————————————

skill

——————————————————————————————————————————————*/
.skill {
  border: 16px solid #f6e9ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skill h2 {
  color: #f3ac94;
  text-align: center;
}

.skill__items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill__items .sub-title {
  font-size: 34px;
  position: absolute;
  color: #f6e9ce;
}

.skill__programming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.skill__programming .sub-title {
  top: 0;
  left: 0;
  -webkit-transform: translateY(-120%) rotate(-10deg);
          transform: translateY(-120%) rotate(-10deg);
}

.skill__web-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.skill__web-design .sub-title {
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(100%) rotate(-10deg);
          transform: translateY(100%) rotate(-10deg);
}

.skill__web-design div:last-child {
  margin-left: 16px;
}

.skill__item {
  width: calc((100% - 32px) / 3);
}

.skill__item img {
  display: block;
}

.skill__item p {
  padding-top: 8px;
  margin: 0;
  text-align: center;
  font-weight: 500;
}

/*————————————————————————————————————————————

works

——————————————————————————————————————————————*/
.works__title {
  text-align: center;
}

.works__item__img {
  width: 100%;
  padding-top: 125%;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.works__item__img p {
  color: #f3ac94;
  font-size: 50px;
  position: absolute;
}

.works__item__text {
  line-height: 2;
}

.works #todo .works__item__img {
  background-image: url(../../image/app.png);
}

.works #todo .works__item__img p {
  top: 0;
  left: 0;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.works #blog .works__item__img {
  background-image: url(../../image/blog.jpg);
  background-position: top center;
}

.works #blog .works__item__img p {
  top: 0;
  right: 0;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.works #website .works__item__img {
  background-image: url(../../image/csite.jpg);
}

.works #website .works__item__img p {
  top: 0;
  left: 0;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.works #portfolio .works__item__img {
  background-image: url(../../image/portfolio.jpg);
  background-position: top center;
}

.works #portfolio .works__item__img p {
  top: 0;
  right: 0;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

/*————————————————————————————————————————————

footer

——————————————————————————————————————————————*/
footer {
  background: #f3ac94;
}

footer h2 {
  text-align: center;
  color: #fff;
}

footer .sns-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .sns-icons .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 24px;
}

footer .sns-icons .icon a {
  display: block;
}

footer .sns-icons .icon#github {
  background-color: transparent;
}

footer .sns-icons .icon#twitter svg {
  fill: #00acee;
}

footer .sns-icons .icon#twitter, footer .sns-icons .icon#wantedly {
  background-color: #fff;
  padding: 8px;
}

footer .sns-icons :last-child {
  margin-right: 0;
}

@media (orientation: landscape) {
  /* =============================================

モバイル横

============================================= */
  /*————————————————————————————————————————————

共通パーツ

——————————————————————————————————————————————*/
  .pt-md, .about {
    padding-top: 32px !important;
  }
  .pb-md, footer {
    padding-top: 32px !important;
  }
  /*————————————————————————————————————————————

cover

——————————————————————————————————————————————*/
  .cover ::before {
    top: 0;
    left: auto;
    right: 0;
    width: 50%;
    height: 100%;
  }
  /*————————————————————————————————————————————

about

——————————————————————————————————————————————*/
  .about {
    height: auto;
  }
  .about__text {
    width: 100%;
  }
  .about img {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }
  /*————————————————————————————————————————————

skill

——————————————————————————————————————————————*/
  .skill {
    height: auto;
  }
  .skill__item {
    width: calc((100% - 32px) / 6);
  }
  .skill__web-design .sub-title {
    bottom: auto;
    right: auto;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-120%) translateX(100%) rotate(-10deg);
            transform: translateY(-120%) translateX(100%) rotate(-10deg);
  }
  /*————————————————————————————————————————————

works

——————————————————————————————————————————————*/
  .works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .works__item {
    width: calc((100% - 32px) / 2);
  }
}

@media (orientation: portrait) and (min-width: 600px) {
  /* =============================================

タブレット縦

============================================= */
  /*————————————————————————————————————————————

共通パーツ

——————————————————————————————————————————————*/
  /*
font
——————————————————————*/
  .font-sm, .cover__sub-title, .skill__item p {
    font-size: 16px !important;
  }
  .font-md, .about__text, .works__item__text {
    font-size: 16px !important;
  }
  .font-lg, .skill h2, .works__title, footer h2 {
    font-size: 35px !important;
  }
  .font-bg, .about__title h2 {
    font-size: 63px !important;
  }
  /*————————————————————————————————————————————

cover

——————————————————————————————————————————————*/
  .cover__title {
    font-size: 230px;
  }
  .cover__cursive-style {
    font-size: 132px;
  }
  /*————————————————————————————————————————————

about

——————————————————————————————————————————————*/
  .about__text {
    width: 30%;
  }
  /*————————————————————————————————————————————

skill

——————————————————————————————————————————————*/
  .skill {
    border: 32px solid #f6e9ce;
  }
  .skill__items {
    width: 75%;
  }
  .skill__items .sub-title {
    font-size: 60px;
  }
  /*————————————————————————————————————————————

works

——————————————————————————————————————————————*/
  .works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .works__item {
    width: calc((100% - 40px) / 2);
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  /* =============================================

タブレット横

============================================= */
  /*————————————————————————————————————————————

共通パーツ

——————————————————————————————————————————————*/
  /*
font
——————————————————————*/
  .font-sm, .cover__sub-title, .skill__item p {
    font-size: 16px !important;
  }
  .font-md, .about__text, .works__item__text {
    font-size: 16px !important;
  }
  .font-lg, .skill h2, .works__title, footer h2 {
    font-size: 35px !important;
  }
  .font-bg, .about__title h2 {
    font-size: 63px !important;
  }
  /*
padding
——————————————————————*/
  .pt-sm {
    padding-top: 40px !important;
  }
  .pt-md, .about {
    padding-top: 80px !important;
  }
  .pb-sm, .about {
    padding-bottom: 40px !important;
  }
  .pb-md, footer {
    padding-bottom: 80px !important;
  }
  /*
margin
——————————————————————*/
  .mt-sm, .skill__web-design, .works__title {
    margin-top: 40px !important;
  }
  .mb-sm, .skill__programming .skill__item, .works__title, .works__item__img, footer h2 {
    margin-bottom: 40px !important;
  }
  .mb-md, .works__item {
    margin-bottom: 80px !important;
  }
  /*————————————————————————————————————————————

cover

——————————————————————————————————————————————*/
  .cover__title {
    font-size: 150px;
  }
  .cover__cursive-style {
    font-size: 132px;
  }
  /*————————————————————————————————————————————

about

——————————————————————————————————————————————*/
  .about {
    height: 100vh;
  }
  .about__text {
    width: 30%;
  }
  /*————————————————————————————————————————————

skill

——————————————————————————————————————————————*/
  .skill {
    height: 100vh;
    border: 32px solid #f6e9ce;
  }
  .skill__items .sub-title {
    font-size: 60px;
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  /* =============================================

PC

============================================= */
  /*————————————————————————————————————————————

共通パーツ

——————————————————————————————————————————————*/
  /*
padding
——————————————————————*/
  .pt-sm {
    padding-top: 60px !important;
  }
  .pt-md, .about {
    padding-top: 120px !important;
  }
  .pb-sm, .about {
    padding-bottom: 60px !important;
  }
  .pb-md, footer {
    padding-bottom: 120px !important;
  }
  /*
margin
——————————————————————*/
  .mt-sm, .skill__web-design, .works__title {
    margin-top: 60px !important;
  }
  .mb-sm, .skill__programming .skill__item, .works__title, .works__item__img, footer h2 {
    margin-bottom: 60px !important;
  }
  .mb-md, .works__item {
    margin-bottom: 120px !important;
  }
  /*————————————————————————————————————————————

skill

——————————————————————————————————————————————*/
  .skill {
    border: 32px solid #f6e9ce;
  }
  .skill__items {
    width: 55%;
  }
  .skill__items .sub-title {
    font-size: 60px;
  }
  /*————————————————————————————————————————————

works

——————————————————————————————————————————————*/
  .works__item {
    width: calc((100% - 120px) / 4);
  }
}
/*# sourceMappingURL=style.css.map */